/**
 * @Autor: Moisés Aguiar [09/11/2018]
 * @Modificado:
 * @Descripción:
 * @Version: 1.0
 */
.navbar {
  padding: 0 1rem;
  height: 68px;
}

.navbar-brand {
  position: absolute;
  right: 0;
  transform: scale(0.75);
}

button {
  margin-right: 1rem;
  background: #42484e;
  color: #ffffff;
}
