<ng-container [ngSwitch]="data.type">
  <div *ngSwitchCase="'pages'">
    <h1 mat-dialog-title>Edit Page {{data.name}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Title">
      </mat-form-field>
      <mat-form-field>
        <input matInput>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Content"></textarea>
      </mat-form-field>

      <h6>Sections</h6>
      <mat-checkbox>About Us</mat-checkbox> <br>
      <mat-checkbox>Contact</mat-checkbox> <br>
      <mat-checkbox>Team</mat-checkbox> <br>
      <mat-checkbox>Our Story</mat-checkbox> <br>

    </div>
  </div>
  <div *ngSwitchCase="'users'">
    <h1 mat-dialog-title>Edit User {{data.name}}</h1>
    <div mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Lastname">
      </mat-form-field><br>
      <mat-form-field>
        <input matInput placeholder="Email">
      </mat-form-field><br>
      <mat-form-field>
        <mat-select [(value)]="selected" placeholder="Type">
          <mat-option>None</mat-option>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field><br>

    </div>
  </div>
  <div mat-dialog-actions class="row justify-content-center">
    <button mat-button (click)="onNoClick()"><i class="fa fa-times"></i></button>
    <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial><i class="fa fa-save"></i></button>
  </div>
</ng-container>